[submodule "Liveliness_AVS_JS/AVS_Logic/lib/forge-std"]
	path = Liveliness_AVS_JS/AVS_Logic/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Liveliness_AVS_JS/AVS_Logic/lib/openzeppelin-contracts"]
	path = Liveliness_AVS_JS/AVS_Logic/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
