.env
.othentic
.Set_Syncer/node_modules
**node_modules**/**
**node_modules**
**node_modules**/**/**
**node_modules**/**/**/**
**node_modules**/**/**/**/**
**node_modules**/**/**/**/**/**
**node_modules**/**/**/**/**/**/**
**node_modules**/**/**/**/**/**/**/**
**node_modules**/**/**/**/**/**/**/**/**
**dist/**
**dist/**/**
**dist/**/**/**
**dist/**/**/**/**
**dist**/**/**/**/**/**
**dist/**/**/**/**/**/**
**dist/**/**/**/**/**/**/**
**dist/**/**/**/**/**/**/**/**
**dist**/**/**/**/**/**/**/**/**/**